@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

.quicksand {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
button {
  font-family: inherit;
}
/* Shared Styles */
.orange {
  color: #fea301;
}
.sky-blue {
  color: #01acfd;
}
.sky {
  color: #05d4df;
}
.violet {
  color: #5d58ef;
}
.black {
  color: #111111;
}
.none {
  display: none;
}
body {
  background: var(--White, #f7f7f7);
}
header,
main {
  max-width: 1160px;
  margin: 0 auto;
}
section {
  margin-bottom: 60px;
}
/* Nav Related Styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > div > ul {
  display: flex;
  gap: 32px;
}
nav ul li {
  list-style: none;
}
.logo-part {
  display: flex;
  align-items: center;
  gap: 15px;
}
.logo-part > p {
  font-size: 2rem;
  font-weight: 700;
}
.contact-btn,
.banner-btn {
  padding: 10px 60px;
  border-radius: 12px;
  background: #fea301;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
}
/* Banner Related Styles */
.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-content {
  max-width: 640px;
}
.banner-title {
  color: var(--Black, #111);
  font-size: 3.5rem;
  font-weight: 700;
}
.banner-description {
  color: var(--Black, #111);
  font-size: 1.2rem;
  font-weight: 400;
}
.banner-btn {
  background-color: #111;
  color: white;
}
/* Responsive for Mobile Devices */
@media screen and (max-width: 576px) {
  .nav-title,
  .menu-part,
  .nav-btn {
    display: none;
    position: absolute;
  }
  .nav-logo {
    width: 45px;
    height: 45px;
  }
  .hamburger {
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    right: 10px;
  }
  .nav-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .banner-container {
    flex-direction: column-reverse;
  }
  .banner-title {
    font-size: 2rem;
    margin: 0;
  }
  .banner-description {
    font-size: 14px;
  }
  .banner-content {
    text-align: center;
  }
  .banner-btn {
    padding: 10px 24px;
  }
  .banner-img img {
    width: 100%;
  }
}
